.home .bannerContainer{
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.home .banner {
    width: 300%;
    height: 500px;
    display: flex;
    transition: 2s;
}

.home .bannerItem {
    width: 33.333333%;
    transition: 2s;
}

.home .bannerItemImage{
width: 100%;
height: 500px;
}

.home .bannerItemImage img{
width: 100%;
height: 100%;
object-fit: cover;
}


.home .bannerNav{
    position: relative;
    display: flex;
    top: -40px;
    left: 45%;
}

.home .bannerNav label input{
    appearance: none;
}

.home .bannerNav label{
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0px 10px;
    cursor: pointer;
    transition: 0.3s;
}

.home .bannerNav label:hover{
    border:2px solid var(--cor-retoques)

}

.home .bannerNav span{
    width: 16px;
    height: 16px;
    background-color: transparent;
    position: absolute;
    border-radius: 50%;
    top: 2px;
    transition: 0.3s;
}

.home .bannerNav label input:checked ~ span{
    background-color: #ffffff;
}

.home .bannerTitle{
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    padding: 3px 60px;
    color: #ffffff;
    border-bottom-right-radius: 40px;
    font-size: 40px;
    font-weight: 400;
    transition: 0.3s;
}

.home .bannerItem:hover .bannerTitle{
    color: var(--cor-retoques);
}