.home .bannerContainer {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.home .banner {
    width: 300%;
    height: 500px;
    display: flex;
    transition: 2s;
}

.home .bannerItem {
    width: 33.333333%;
    transition: 2s;
}

.home .bannerItemImage {
    width: 100%;
    height: 500px;
}

.home .bannerItemImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home .bannerNav {
    position: relative;
    display: flex;
    top: -40px;
    left: 45%;
}

.home .bannerNav label input {
    appearance: none;
}

.home .bannerNav label {
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0px 10px;
    cursor: pointer;
    transition: 0.3s;
}

.home .bannerNav label:hover {
    border: 2px solid var(--cor-retoques)
}

.home .bannerNav span {
    width: 16px;
    height: 16px;
    background-color: transparent;
    position: absolute;
    border-radius: 50%;
    top: 2px;
    transition: 0.3s;
}

.home .bannerNav label input:checked~span {
    background-color: #ffffff;
}

.home .bannerTitle {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 3px 60px;
    color: #ffffff;
    border-bottom-right-radius: 40px;
    font-size: 40px;
    font-weight: 400;
    transition: 0.3s;
}

.home .bannerItem:hover .bannerTitle {
    color: var(--cor-retoques);
}

.all-games,
.all-newGames,
.all-bestGames,
.all-categories,
.all-review,
.all-Path {
    margin: 20px 0 20px 0;
}

.all-gamesTitle,
.all-Path,
.all-comunidade {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #007F0E;
}



.all-gamesTitle p,
.all-Path p,
.all-comunidade p {
    font-size: 22px;
    color: white;
    text-align: center;
}

/*HOME GAMES*/

.all-games {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    flex-wrap: wrap;
    padding: 0 120px 0 120px;
    justify-content: space-between;
}

.all-games .container-shopGames {
    display: flex;
    flex-direction: column;
}

.all-games .container-shopGames .container-img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.all-games .container-shopGames .container-img img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

/*HOME CATEGORIES*/

.all-categories {
    display: flex;
    flex-direction: row;
}

.container-img-categories {
    width: 100%;
    height: 400px;
    padding: 0 90px 0 90px;
    object-fit: cover;
}

.all-categories .container-img-categories img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

/*HOME REVIEW*/
.all-review {
    padding: 0 90px 0 90px;
}

.container-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    width: 30%;
    border-radius: 5px;
    background-color: var(--cor-quaternaria);
}

.container-review .container-review-img {
    margin-top: 20px;
    width: 35%;
    height: 35%;
}
.container-review .container-review-txt {
   color: var(--cor-terciaria);
   text-align: center;
}
.container-review .container-review-txt .title,.container-review .container-review-txt .description {
 margin-top: 10px;
}
.container-review .container-review-txt .description p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    text-align: justify;
    padding: 0 30px 0 30px;
}
.container-review .container-review-img img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}
/*HOME PATH NOTE*/
.container-path{
    position: relative;
}
.all-pathnotes .container-path .container-img-path {
    width: 100%;
   height: 400px;
    object-fit: cover;
    
}
.all-pathnotes .container-path .container-img-path img {
    width: 100%;
    height: 100%;
}
.all-pathnotes .container-path .container-path-txt {
   color: var(--cor-terciaria);
   text-align: justify;
   position: absolute;
   width: 40%;
   height: 100%;
   top: 0px;
   right: 35%;

}
.all-pathnotes .container-path .container-path-txt .container-img-post{
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}
.all-pathnotes .container-path .container-path-txt .container-img-post img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    padding: 25px 30px 0 30px;
}
.all-pathnotes .container-path .container-path-txt .title{
    text-align: center;
}
.all-pathnotes .container-path .container-path-txt p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    text-align: justify;
    padding: 0 30px 0 30px;
}